<ion-header>
  <ion-toolbar class="toolbar-color">
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
      <ion-col size="auto" class="ion-text-center">
        <ion-img class="img-size" src="assets/coding.png"></ion-img>
        <h1 class="h1-color">Bienvenido gracias por todo!</h1>
        <ion-button class="button-color" (click)="goHome()">Regresar a Home</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
