<ion-content class="background-container">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
      <ion-col size="auto">
        <ion-img class="img-size" src="assets/coding2.png"></ion-img>
        <h1 class="title">¡Bienvenido a loader App!</h1>
        <ion-button class="button-color" (click)="toggleLoader()">Mostrar Loader</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-loader *ngIf="showLoader" [images]="loaderImages" [interval]="3000"></app-loader>
</ion-content>
