.background-image{
    background-color: bisque;
    --background: 
}
.button-color{
    background-color: #FF6F61;
    --background: #FF6F61;
  }
  .toolbar-color{
    color: white;
    background-color: #FF6F61;
    --background: 
  }