#container {
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
}

.center-button {
  margin-top: 30px;
}
.background-container {
  background-color: bisque; 
  --background: bisque; 
}

.img-size {
  display: block;
  margin: 0 auto; 
}

.button-color {
  display: block;
  margin: 20px auto; 
  text-align: center; 
}

ion-row {
  height: 100vh; 
  align-items: center; 
}

ion-col {
  text-align: center; 
}
